@tailwind base;
@tailwind components;
@layer components{
    .border-style{
        @apply border-gray-400;
    }
    .scroll-fixed{
        @apply h-screen overflow-hidden;
    }
    .text-style{
        @apply text-xs font-iransans;
    }
    .flex-center{
        @apply flex justify-center items-center;
    }
}

@tailwind utilities;

[x-cloak]  {display: none;}

@layer base{
    @font-face {
        font-family: "IRANSans";
        font-weight: 400;
        src: url('../fonts/iransansweb.woff') format('woff'),url('../fonts/iransansweb.woff2') format('woff2'),
        url('../fonts/iransansweb.ttf') format('truetype');
        src: url('../fonts/IRANSansWeb.eot');
    }
    html {
        font-family: IRANSans;
    }
}
